<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LBVib</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.vixrose.lbvib</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled (Respring Required)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Set Alert Percentages (Respring Required)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>First Alert Percentage:</string>
			<key>isNumeric</key>
			<true/>
			<key>default</key>
			<string>20</string>
			<key>defaults</key>
			<string>com.vixrose.lbvib</string>
			<key>key</key>
			<string>userPercent1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Second Alert Percentage:</string>
			<key>isNumeric</key>
			<true/>
			<key>default</key>
			<string>10</string>
			<key>defaults</key>
			<string>com.vixrose.lbvib</string>
			<key>key</key>
			<string>userPercent2</string>
		</dict>
	</array>
	<key>title</key>
	<string>LBVib</string>
</dict>
</plist>
